# Where things are
source:      .
destination: ./_site
plugins_dir:     ./_plugins
layouts_dir:     ./_layouts
data_dir: ./_data
# collections: null

# Handling Reading
safe:         false
include:      [".htaccess"]
exclude:      []
keep_files:   [".git", ".svn"]
encoding:     "utf-8"
markdown_ext: "markdown,mkdown,mkdn,mkd,md"

# Filtering Content
show_drafts: null
limit_posts: 0
future:      true
unpublished: false

# Plugins
whitelist: []
gems:      [jekyll-paginate,jekyll-asciidoc]

# Conversion
markdown:    kramdown
highlighter: pygments
lsi:         false
excerpt_separator: "\n\n"

# Serving
detach:  false
port:    4000
host:    127.0.0.1
baseurl: "/site" # does not include hostname

# Outputting
permalink:     /:title.html
paginate: 10
paginate_path: /page:num
timezone:      null

quiet:    false
defaults: []


asciidoctor:
  attributes:
    - idseparator=_
    - source-highlighter=coderay
    - icons=font
    - imagesdir=/site/img
    - hardbreaks-option=

# Markdown Processors
rdiscount:
  extensions: []

redcarpet:
  extensions: []

kramdown:
  auto_ids:       true
  footnote_nr:    1
  entity_output:  as_char
  toc_levels:     1..6
  smart_quotes:   lsquo,rsquo,ldquo,rdquo
  enable_coderay: false

  coderay:
    coderay_wrap:              div
    coderay_line_numbers:      inline
    coderay_line_number_start: 1
    coderay_tab_width:         4
    coderay_bold_every:        10
    coderay_css:               style


include: ['_pages']
exclude:
  - vendor/
  - README.adoc

disqus:
    shortname: 'rsjug'
    
authors:
  rmpestano:
    name: Rafael Pestano
    email: rmpestano@gmail.com
    site: https://github.com/rmpestano/
  jsouzajava:
    name: Jonathan Souza
    email: jsouzajava@gmail.com
    site: https://www.linkedin.com/in/jsouzajava/
  brunomaomeh:
    name: Bruno Maomeh
    email: brunomaomeh@gmail.com
    site: https://brunomaomeh.wordpress.com/
  guilhermelias:
    name: Guilherme Elias
    email: guilherme.eliasATgmail.com
    site: guilhermelias.wordpress.com